[submodule "nemu_board"]
	path = nemu_board
	url = git@github.com:xiaoxinlovead/nemu_board.git
[submodule "opensbi"]
	path = opensbi
	url = git@github.com:xiaoxinlovead/opensbi.git
[submodule "riscv-rootfs"]
	path = riscv-rootfs
	url = git@github.com:xiaoxinlovead/riscv-rootfs.git
[submodule "linux-6.12.27"]
	path = linux-6.12.27
	url = git@github.com:xiaoxinlovead/linux-6.12.27.git
